@import '../../common/colors';

.header {
  position: relative;
  height: 70px;
  background-color: $secondary-color;
  padding: 0 40px;
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-area: header;
  color: $font-primary;

  &
  ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-auto-flow: column;
    list-style-type: none;

    &
    li {
      display: grid;
      justify-content: end;
      margin-top: 20px;
      margin-left: 400px;
    }

  }
}

.logo img {
  width: 40px;
  position: absolute;
  left: 50px;
  top: 10px;
}